.container {
  display: grid;
  grid-template-columns: 800px;
  justify-content: center;
  justify-items: center;
  gap: 24px;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
