.card {
  text-decoration: none;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  background-color: #3c6382;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-1.5px);
}

/* .card a {
  
} */
